.child-selector#collapse-toggle
  .override-styles
    .child-header
    .ap-section-list
      = render :partial => 'configurations/header_nest'
      = render :partial => 'configurations/hlp-wrapper'
      = render :partial => 'configurations/radios'
    = render :partial => 'configurations/right-side'
    = render :partial => 'configurations/footer'


